body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.heading-font {
  font-family: Helvetica Neue bold 18px;
}

.body-font {
  font-family: Helvetica Neue regular 16px;
}